<nav class="navbar navbar-expand-lg">
	<div class="container-header container-fluid">
		<div class="collapse navbar-collapse" id="navbarSupportContent">
			<div class="row row-nav-container">
				<div class="col-md-10">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-10">
							<ul class="navbar-nav row-nav-content">
								
								<li class="nav-item" (click)="navigateToSection('app-portada')">
									{{ 'HEADER.NAV_HOME' | translate }}
								</li>

								<li class="nav-item" (click)="navigateToSection('app-portada')">
									{{ 'HEADER.NAV_ABOUT_US' | translate }}
								</li>
								<li class="nav-item" (click)="navigateToSection('app-servicios-one-time')">
									{{ 'HEADER.NAV_SERVICES' | translate }}
								</li>
								<li class="nav-item" (click)="navigateToSection('app-contacto')">
									{{ 'HEADER.NAV_CONTACT_US' | translate }}
								</li>

							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<ul
						class="navbar-nav me-auto mb-2 mb-lg-0 container-language">
						<li class="nav-item">
							<a (click)="changeLanguage('es')" class="nav-link language-content" [class.active-lang]="getCurrentLang() === 'es'">{{ 'HEADER.LANGUAGE_ES' | translate }}</a>
						</li>

						<li class="nav-item">
							<a class="nav-link">|</a>
						</li>

						<li class="nav-item">
							<a (click)="changeLanguage('en')" class="nav-link language-content" [class.active-lang]="getCurrentLang() === 'en'">{{ 'HEADER.LANGUAGE_EN' | translate }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
