<section class="container-servicios-oneTime" id="servicios">
	<div class="box-servicios">
		<div
			class="title-scientific title-box"
			#animatableTitle
			[@animateTitle]="getTitleAnimationState(animatableTitle)">
			<h1>Servicios One-time</h1>
		</div>
		<div class="container-cards box-scientific">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-eye"></i>
						<span class="primary-text-card">Identidad</span>
						<span class="secondary-text-card"
							>Logotipo + BrandBook</span
						>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-swatchbook"></i>
						<span class="primary-text-card">Branding</span>
						<span class="secondary-text-card"
							>Aplicación en diferentes soportes</span
						>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-book-open"></i>
						<span class="primary-text-card">Papelería</span>
						<span class="secondary-text-card"
							>Brochure & Flyers</span
						>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-circle-half-stroke"></i>
						<span class="primary-text-card"
							>Diseño <br />On-Demand</span
						>
						<span class="secondary-text-card"
							>Servicio de diseño</span
						>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-camera-retro"></i>
						<span class="primary-text-card">Fotografía</span>
						<span class="secondary-text-card"
							>Servicio de fotografía</span
						>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-video"></i>
						<span class="primary-text-card">Video</span>
						<span class="secondary-text-card"
							>Servicio de grabación y edición</span
						>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-keyboard"></i>
						<span class="primary-text-card">Redacción</span>
						<span class="secondary-text-card"
							>Servicio de redacción de <br />blogs, webs,
							etc</span
						>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-code"></i>
						<span class="primary-text-card">Programación</span>
						<span class="secondary-text-card"
							>Landing Pages & Websites</span
						>
					</div>
				</div>
			</div>
		</div>

		<div class="figure-circlestwo figure non-mobile">
			<img src="/assets/figures/circlestwo.svg" alt="circletwo" />
		</div>
		<div class="figure-halfcircle figure non-mobile">
			<img src="/assets/figures/halfcircle.svg" alt="halfcircle" />
		</div>
		<div class="figure-circleyellow figure non-mobile">
			<img src="/assets/figures/circleyellow.svg" alt="circleyellow" />
		</div>
	</div>
</section>
