<section class="container-servicios-oneTime" id="servicios">
	<div class="box-servicios">
		<div
			class="title-scientific title-box"
			#animatableTitle
			[@animateTitle]="getTitleAnimationState(animatableTitle)">
			<h1>{{ 'SERVICIOS_ONETIME.MAIN_TITLE' | translate }}</h1>
		</div>
		<div class="container-cards box-scientific">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-eye"></i>
						<span class="primary-text-card">{{ 'SERVICIOS_ONETIME.CARD_IDENTIDAD_PRIMARY' | translate }}</span>
						<span class="secondary-text-card">{{ 'SERVICIOS_ONETIME.CARD_IDENTIDAD_SECONDARY' | translate }}</span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-swatchbook"></i>
						<span class="primary-text-card">{{ 'SERVICIOS_ONETIME.CARD_BRANDING_PRIMARY' | translate }}</span>
						<span class="secondary-text-card">{{ 'SERVICIOS_ONETIME.CARD_BRANDING_SECONDARY' | translate }}</span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-book-open"></i>
						<span class="primary-text-card">{{ 'SERVICIOS_ONETIME.CARD_PAPELERIA_PRIMARY' | translate }}</span>
						<span class="secondary-text-card">{{ 'SERVICIOS_ONETIME.CARD_PAPELERIA_SECONDARY' | translate }}</span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-circle-half-stroke"></i>
						<span class="primary-text-card" [innerHTML]="'SERVICIOS_ONETIME.CARD_DESIGN_ONDEMAND_PRIMARY' | translate"></span>
						<span class="secondary-text-card">{{ 'SERVICIOS_ONETIME.CARD_DESIGN_ONDEMAND_SECONDARY' | translate }}</span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-camera-retro"></i>
						<span class="primary-text-card">{{ 'SERVICIOS_ONETIME.CARD_FOTOGRAFIA_PRIMARY' | translate }}</span>
						<span class="secondary-text-card">{{ 'SERVICIOS_ONETIME.CARD_FOTOGRAFIA_SECONDARY' | translate }}</span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-video"></i>
						<span class="primary-text-card">{{ 'SERVICIOS_ONETIME.CARD_VIDEO_PRIMARY' | translate }}</span>
						<span class="secondary-text-card">{{ 'SERVICIOS_ONETIME.CARD_VIDEO_SECONDARY' | translate }}</span>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-keyboard"></i>
						<span class="primary-text-card">{{ 'SERVICIOS_ONETIME.CARD_REDACCION_PRIMARY' | translate }}</span>
						<span class="secondary-text-card"
							>{{ 'SERVICIOS_ONETIME.CARD_REDACCION_PRIMARY_DESC_1' | translate }} <br />{{ 'SERVICIOS_ONETIME.CARD_REDACCION_PRIMARY_DESC_2' | translate }}</span
						>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="cards">
						<i class="fa-solid fa-code"></i>
						<span class="primary-text-card">{{ 'SERVICIOS_ONETIME.CARD_PROGRAMACION_PRIMARY' | translate }}</span>
						<span class="secondary-text-card">{{ 'SERVICIOS_ONETIME.CARD_PROGRAMACION_SECONDARY' | translate }}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="figure-circlestwo figure non-mobile">
			<img src="/assets/figures/circlestwo.svg" alt="circletwo" />
		</div>
		<div class="figure-halfcircle figure non-mobile">
			<img src="/assets/figures/halfcircle.svg" alt="halfcircle" />
		</div>
		<div class="figure-circleyellow figure non-mobile">
			<img src="/assets/figures/circleyellow.svg" alt="circleyellow" />
		</div>
	</div>
</section>
