<section class="container-scientific">
	<div class="box-scientific">
		<!-- Aplicar animación al título -->
		<div class="title-scientific title-box"
             #animatableTitle
             [@animateTitle]="getTitleAnimationState(animatableTitle)">
			<h1>{{ 'SCIENTIFIC.MAIN_TITLE' | translate }}</h1>
		</div>

		<div class="box-scientific">
			<div class="logos">
				<div class="row">
					<!-- Card 1 -->
					<div class="col-lg-2 col-md-4 col-sm-6 logo"
                         #animatableCard
                         >
						<div class="img-scientific">
							<img src="/assets/1.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>{{ 'SCIENTIFIC.CARD_1_TITLE' | translate }}</h3>
							<h4 [innerHTML]="'SCIENTIFIC.CARD_1_DESC' | translate"></h4>
						</div>
					</div>

					<!-- Card 2 -->
					<div class="col-lg-2 col-md-4 col-sm-6 logo"
                         #animatableCard
                         >
						<div class="img-scientific">
							<img src="/assets/2.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>{{ 'SCIENTIFIC.CARD_2_TITLE' | translate }}</h3>
							<h4>
								{{ 'SCIENTIFIC.CARD_2_DESC_1' | translate }}<br />
								/ {{ 'SCIENTIFIC.CARD_2_DESC_2' | translate }} / <br />
								{{ 'SCIENTIFIC.CARD_2_DESC_3' | translate }}
							</h4>
						</div>
					</div>

					<!-- Card 3 -->
					<div class="col-lg-2 col-md-4 col-sm-6 logo"
                         #animatableCard
                         >
						<div class="img-scientific">
							<img src="/assets/3.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>{{ 'SCIENTIFIC.CARD_3_TITLE' | translate }}</h3>
							<h4>
								{{ 'SCIENTIFIC.CARD_3_DESC_1' | translate }}<br />
								{{ 'SCIENTIFIC.CARD_3_DESC_2' | translate }}<br /> <br />
							</h4>
						</div>
					</div>

					<!-- Card 4 -->
					<div class="col-lg-2 col-md-4 col-sm-6 logo"
                         #animatableCard
                         >
						<div class="img-scientific">
							<img src="/assets/4.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>{{ 'SCIENTIFIC.CARD_4_TITLE' | translate }}</h3>
							<h4>
								{{ 'SCIENTIFIC.CARD_4_DESC_1' | translate }} / <br />
								{{ 'SCIENTIFIC.CARD_4_DESC_2' | translate }} <br />
							</h4>
						</div>
					</div>

					<!-- Card 5 -->
					<div class="col-lg-2 col-md-4 col-sm-6 logo"
                         #animatableCard
                         >
						<div class="img-scientific">
							<img src="/assets/5.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>{{ 'SCIENTIFIC.CARD_5_TITLE' | translate }}</h3>
							<h4>
								{{ 'SCIENTIFIC.CARD_5_DESC_1' | translate }} <br />
								{{ 'SCIENTIFIC.CARD_5_DESC_2' | translate }} <br />
							</h4>
						</div>
					</div>

					<!-- Card 6 -->
					<div class="col-lg-2 col-md-4 col-sm-6 logo"
                         #animatableCard
                         >
						<div class="img-scientific">
							<img src="/assets/6.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>{{ 'SCIENTIFIC.CARD_6_TITLE' | translate }}</h3>
							<h4>
								{{ 'SCIENTIFIC.CARD_6_DESC_1' | translate }} <br />
								{{ 'SCIENTIFIC.CARD_6_DESC_2' | translate }} <br />
								{{ 'SCIENTIFIC.CARD_6_DESC_3' | translate }}
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="figure-circle figure non-mobile non-medium">
			<img src="/assets/figures/circle.svg" alt="halfcircle" />
		</div>
		<div class="figure-circlemorecircle non-mobile figure">
			<img src="/assets/figures/circlemorecircle.svg" alt="halfcircle" />
		</div>
	</div>
</section>