<section class="container-scientific">
	<div class="box-scientific">
		<div class="title-scientific title-box">
			<h1>Scientific Advertising</h1>
		</div>

		<div class="box-scientific">
			<div class="logos">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-6 logo hidden">
						<div class="img-scientific">
							<img src="/assets/1.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>Reunión</h3>
							<h4>Kickoff</h4>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 col-sm-6 logo hidden">
						<div class="img-scientific">
							<img src="/assets/2.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>Investigación</h3>
							<h4>
								Recolección de info <br />
								/ Benchmark / <br />
								Contexto
							</h4>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 col-sm-6 logo hidden">
						<div class="img-scientific">
							<img src="/assets/3.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>Hipótesis</h3>
							<h4>
								Pregunta / Análisis <br />
								a futuro <br />
							</h4>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 col-sm-6 logo hidden">
						<div class="img-scientific">
							<img src="/assets/4.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>Planteamiento de la estrategia</h3>
							<h4>
								Presupuestos / <br />
								Medios / Objetos <br />
							</h4>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 col-sm-6 logo hidden">
						<div class="img-scientific">
							<img src="/assets/5.svg" alt="avatar" />
						</div>
						<div class="content-scientific">
							<h3>Desarrollo de la estrategia</h3>
							<h4>
								Realización <br />
								del plan <br />
							</h4>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 col-sm-6 logo hidden">
						<div class="img-scientific">
							<img src="/assets/6.svg" alt="avatar" />
						</div>

						<div class="content-scientific">
							<h3>Control y Optimización</h3>
							<h4>
								Evaluación <br />
								de efectividad / <br />
								Análisis
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="figure-circle figure non-mobile non-medium">
			<img src="/assets/figures/circle.svg" alt="halfcircle" />
		</div>
		<div class="figure-circlemorecircle non-mobile figure">
			<img src="/assets/figures/circlemorecircle.svg" alt="halfcircle" />
		</div>
	</div>
</section>
