<section class="container-contacto" id="contactenos">
	<div class="box-contacto">
		<div class="card-contacto">
			<div class="row">
				<div class="contacto-content col-md-10">
					<div class="logo-contact">
						<img src="/assets/Logo_contact.svg" alt="logo">
					</div>
					
					<div class="info-contacto">
						
						<h3>Más información <br /><br /></h3>
						
						<h4 href="mailto:hola@jirafalab.com">
							hola&#64;jirafalab.com<br />
							+51 999 921 393 <br />
							+51 981 465 405 <br />
						</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="figure-anotheryellow non-medium figure"><img src="/assets/figures/anotheryellow.svg" alt="halfcircle" /></div>
		<div class="figure-halfcircle figure non-mobile"><img src="/assets/figures/halfcircle.svg" alt="halfcircle" /></div>
		<div class="figure-circlemoreline circlemoreline-pos2 figure non-mobile"><img src="/assets/figures/circlemorelineyellow.svg" alt="halfcircle" /></div>
		<div class="figure-elehalfcircleyellow figure non-mobile"><img src="/assets/figures/elehalfcircleyellow.svg" alt="halfcircle" /></div>
	</div>
</section>